<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>nebulynk-plesk</id>
    <name>Nebulynk</name>
    <description>Deploy and operate Nebulynk on a Plesk Linux server.</description>
    <category>server_tool</category>
    <version>__VERSION__</version>
    <release>__RELEASE__</release>
    <vendor>Nebulynk</vendor>
    <url>https://github.com/sapientorius/Nebulynk</url>
    <help_url>https://github.com/sapientorius/Nebulynk/blob/stable/docs/PLESK.md</help_url>
    <support_url>https://github.com/sapientorius/Nebulynk/issues</support_url>
    <plesk_min_version>18.0.53</plesk_min_version>
    <os>unix</os>
</module>
